<div class="middle">

     
       <h1 class="title">Scuter Café</h1>
      <p class="slogan">Everything Food & Coffee</p> 
    
    {{!-- <div>
        <input type="text" value="" name="name" placeholder="please enter name" class="entername">
        <button class="button waiterbtn" on type="submit" name="button">Enter</button>
    </div> --}}

    <br>

     <h3>Select Day :</h3>

    <input type="checkbox" id="days" name="Sunday" value="day">Sunday
    <input type="checkbox" id="days" name="Monday" value="day">Monday
    <input type="checkbox" id="days" name="Tuesday" value="day">Tuesday
    <input type="checkbox" id="days" name="Wednesday" value="day">Wednesday
    <input type="checkbox" id="days" name="Thursday" value="day">Thursday
    <input type="checkbox" id="days" name="Friday" value="day">Friday
    <input type="checkbox" id="days" name="Saturday" value="day">Saturday

</div>