<body>
    <div class="home-page">
   <h1 class="title">Scuter Café</h1>
      <p class="slogan">Everything Food & Coffee</p> 

      <h3 style="color: white; font-size:30px">Please Choose Your Role :</h3>
             <button class="homeBtn" name="link"><a href="/waiters">Waiters Schedule</a></button>
             <br>
             <br>
             <button class="homeBtn" name="link"><a href="/days">Admin</a></button>
    </div>
<br>
<br>
    {{!-- <div class="image"><img src="/images/cafe-proto-2.jpg" alt=""></div> --}}
</body>