<body>
    <div class="welcome">
          <h1 class="title">Scuter Café</h1>
      <p class="slogan">Everything Food & Coffee</p> 


        <h1 style="color: white;">If you are here it means you are a waiter</h1>
        <h2 style="color: white;">Please enter your name in the URL</h2>
        <span class="example" style="color: white;">e.g. https://hidden-taiga-28014.herokuapp.com//waiters/yourname </span>
    </div>
</body>